body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}
.w1w,.w2w,.w3w,.w4w{
    width: 100px;
    height: 100px;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
/* li:hover{
    background-color: #F00;
} */
li {
    position: relative;
}
li:hover:before{
    content: "";
    display: block;
    background-color: #F00;
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
li:first-child:hover:before{
    display: none;
}